doctype html
head 
	title pokerama
	script(src="http://cdn.sockjs.org/sockjs-0.3.min.js")
	link(href="assets/css/normalize.css", type="text/css", rel="stylesheet")
	link(href="assets/css/foundation.css", type="text/css", rel="stylesheet")
	link(href="assets/css/style.css", type="text/css", rel="stylesheet")
	link(href="assets/css/dealer.css", type="text/css", rel="stylesheet")
	script(src="assets/js/vendor/custom.modernizr.js")
	link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700cditalic,800italic,400,300,600,700,800", type="text/css", rel="stylesheet")
	link(href="http://fonts.googleapis.com/css?family=Raleway", type="text/css", rel="stylesheet")
body
	div#outer
		div#middle
			div#inner
				div.row
					div.small-9#tableID #{room}
					div.small-3.columns.logo
				div.row#playersWrap
					ul.playerList
				div.row.currentStats
					div.small-4.large-offset-1.columns CURRENT BET: $80
					div.small-2.columns &nbsp;
					div.small-4.columns.curPot CURRENT POT: $<span id="currTotal">700</span>
					div.small-1.columns
				div.row#startGameWrap
					div.small-8.small-centered.columns
						input(type="text",name="blindAmt",id="blindAmt",placeholder="enter the big blind amount")
						div.startGame start game
				div.row.cardRow
					div.small-2.columns.burnPile
					div.small-10.columns.showCards
				div.row#status
					div.small-9.small-centered.columns.toast Dmitri Martin just joined the game
					div.burnButton burn
					div.showButton show
					div.messageChange message
	script
		-document.write('<script src=assets/js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
	script(src="assets/js/foundation.min.js")
	script!= '$(document).foundation();' 
	script(src="assets/js/cardDealer.js");
