doctype html
head 
	title play pokerama
	link(href="assets/css/normalize.css", type="text/css", rel="stylesheet")
	link(href="assets/css/foundation.css", type="text/css", rel="stylesheet")
	link(href="assets/css/style.css", type="text/css", rel="stylesheet")
	link(href="assets/css/play.css", type="text/css", rel="stylesheet")
	script(src="assets/js/vendor/custom.modernizr.js")
	link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700cditalic,800italic,400,300,600,700,800", type="text/css", rel="stylesheet")
	link(href="http://fonts.googleapis.com/css?family=Raleway", type="text/css", rel="stylesheet")
body
	div#outer
		div#middle
			div#inner
				div.row
					div.small-9#tableID #{room}
					div.small-3.columns.logo
				div.row
					div.small-5.columns.playCards
					div.small-7.columns.playConsole
						div.row.playData
							div.currentTurn Mike's turn
							div.lastAction Yair called for $20
						div.row.playActions
							div.check.hidden check
							div.call.hidden call
							div.raise.hidden raise
							div.bet.hidden bet
							div.fold.hidden fold
							div.options.hidden options
				div.hidden
					img(src="assets/img/burncard.jpg")
	script
		-document.write('<script src=assets/js/vendor/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.js><\/script>');
	script(src="assets/js/foundation.min.js")
	script(src="assets/js/player.js");
	script!= '$(document).foundation();' 
